
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BACKGROUND_00		BITMAP		IMAGE/BACKGROUND_Operate_Main.bmp
IDB_BACKGROUND_01		BITMAP		IMAGE/BACKGROUND_Operate_Transfer.bmp
IDB_BACKGROUND_02		BITMAP		IMAGE/BACKGROUND_Operate_Verification.bmp
IDB_BACKGROUND_03		BITMAP		IMAGE/BACKGROUND_Operate_WaferSync.bmp
IDB_BACKGROUND_04		BITMAP		IMAGE/BACKGROUND_Dummy.bmp
IDB_BACKGROUND_05		BITMAP		IMAGE/BACKGROUND_Config_CMC.bmp
IDB_BACKGROUND_06		BITMAP		IMAGE/BACKGROUND_Config_CMC2.bmp
IDB_BACKGROUND_07		BITMAP		IMAGE/BACKGROUND_AutoParticle_check.bmp
IDB_BACKGROUND_08		BITMAP		IMAGE/BACKGROUND_Part_CycleTest.bmp
IDB_BACKGROUND_11		BITMAP		IMAGE/BACKGROUND_PM_Mode.bmp

IDB_BACKGROUND_12		BITMAP		IMAGE/BACKGROUND_LotPre1.bmp
IDB_BACKGROUND_13		BITMAP		IMAGE/BACKGROUND_LotPre2.bmp
IDB_BACKGROUND_14		BITMAP		IMAGE/BACKGROUND_LotPre3.bmp
IDB_BACKGROUND_15		BITMAP		IMAGE/BACKGROUND_LotPre4.bmp
IDB_BACKGROUND_16		BITMAP		IMAGE/BACKGROUND_LotPre5.bmp
IDB_BACKGROUND_17		BITMAP		IMAGE/BACKGROUND_LotPreOpt.bmp

IDB_BACKGROUND_POPUP_01		BITMAP		IMAGE/BACKGROUND_Popup_LotControl.bmp
//IDB_BACKGROUND_POPUP_02		BITMAP		IMAGE/BACKGROUND_Popup_PM1_Infor.bmp
//IDB_BACKGROUND_POPUP_03		BITMAP		IMAGE/BACKGROUND_Popup_PM2_Infor.bmp
//IDB_BACKGROUND_POPUP_04		BITMAP		IMAGE/BACKGROUND_Popup_PM3_Infor.bmp
IDB_BACKGROUND_POPUP_06		BITMAP		IMAGE/BACKGROUND_Popup_WfrSyncConfirm.bmp

IDB_BACKGROUND_POPUP_07		BITMAP		IMAGE/BACKGROUND_Popup_Dummyselect.bmp
IDB_BACKGROUND_POPUP_08		BITMAP		IMAGE/BACKGROUND_Popup_DummyControl.bmp
IDB_BACKGROUND_POPUP_10		BITMAP		IMAGE/BACKGROUND_Popup_L2_Status.bmp
IDB_BACKGROUND_POPUP_11		BITMAP		IMAGE/BACKGROUND_Popup_CM1_N2.bmp
IDB_BACKGROUND_POPUP_12		BITMAP		IMAGE/BACKGROUND_Popup_CM2_N2.bmp
IDB_BACKGROUND_POPUP_13		BITMAP		IMAGE/BACKGROUND_Popup_CM3_N2.bmp
//IDB_BACKGROUND_POPUP_09		BITMAP		IMAGE/BACKGROUND_Popup_TIME1.bmp
//IDB_BACKGROUND_POPUP_10		BITMAP		IMAGE/BACKGROUND_Popup_TIME2.bmp

