
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BACKGROUND_00			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_01			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_02			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_03			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_04			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_05			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_06			BITMAP		BACKGROUND_AutoPM.bmp
IDB_BACKGROUND_07			BITMAP		BACKGROUND_AutoPM.bmp


