
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

//IDB_BACKGROUND_00			BITMAP		IMAGE/BACKGROUND_TMC_Module_Status.bmp
IDB_BACKGROUND_01			BITMAP		IMAGE/BACKGROUND_TMC_Config_BM1.bmp
IDB_BACKGROUND_02			BITMAP		IMAGE/BACKGROUND_TMC_Config_BM2.bmp
IDB_BACKGROUND_03			BITMAP		IMAGE/BACKGROUND_TMC_Config_Alarm.bmp
IDB_BACKGROUND_04			BITMAP		IMAGE/BACKGROUND_TMC_Config_TM1.bmp
IDB_BACKGROUND_05			BITMAP		IMAGE/BACKGROUND_TMC_Config_TM1_1.bmp
IDB_BACKGROUND_06			BITMAP		IMAGE/BACKGROUND_TMC_Maint.bmp

IDB_BACKGROUND_13			BITMAP		IMAGE/BACKGROUND_TMC_Vacuum_Maint.bmp
IDB_BACKGROUND_15			BITMAP		IMAGE/BACKGROUND_TMC_Maint_EFEM.bmp

IDB_BACKGROUND_16			BITMAP		IMAGE/BACKGROUND_TMC_LeakTest_Maint.bmp
IDB_BACKGROUND_17			BITMAP		IMAGE/BACKGROUND_LLA_LeakTest_Maint.bmp
IDB_BACKGROUND_18			BITMAP		IMAGE/BACKGROUND_LLB_LeakTest_Maint.bmp

IDB_BACKGROUND_23			BITMAP		IMAGE/BACKGROUND_TMC_Config_AutoLeak.bmp
IDB_BACKGROUND_24			BITMAP		IMAGE/BACKGROUND_TMC_Config_AutoLeak_1.bmp
IDB_BACKGROUND_25			BITMAP		IMAGE/BACKGROUND_TMC_Config_TMRobot.bmp

IDB_BACKGROUND_POPUP_04			BITMAP		IMAGE/BACKGROUND_Popup_Rough_DP_Control.bmp
//IDB_BACKGROUND_POPUP_05			BITMAP		IMAGE/BACKGROUND_Popup_TP_Control.bmp
IDB_BACKGROUND_POPUP_06			BITMAP		IMAGE/BACKGROUND_Popup_LeakCheck.bmp
IDB_BACKGROUND_POPUP_07			BITMAP		IMAGE/BACKGROUND_Popup_AWCRANGE.bmp
IDB_BACKGROUND_POPUP_08			BITMAP		IMAGE/BACKGROUND_PopUp_Robot_Status.bmp