###################################################################################################################
# 	RC	:	Remote Command
#	ID	:	1-65535
#	TYPE	: 	COMMAND,DIO(digital),AIO(analog),SIO(string),FUNCTION,EVENT,LIST,FUNCTION_ED,LIST_ED
#			FUNCTION : Event Enable, FUNCTION_ED : Event Disable, LIST : Event Enable, LIST_ED : Event Disable
#			LIST,LIST_ED : 1st : Function Name, 2nd : Send Command String, 3nd : Set IO1, 4 : Set IO2, 5 : Set IO3... Max IO 10( IO Composition : D:CTC.xxx, A:PM2.yyy, S:TM.zzz )
#	RCNAME	:	Remote Command Name
#	REMOTE/LOCAL/PROCESS PART/MAPPING PART/LOT_CANCEL is not changed the Event NAME. ID Can Change
#	RC Max Numbers : 3000( LIST( include LIST_ED ) is max 300 )
#	START = Conqurent , STARTP = Pipe Lie(Continue) - When Last Wafer Out, Next Port Go Out
#	STARTS = When Process Port End(till Last Wafer In) , Next Port Go Out
#	CANCEL is valid STARTP or STARTS
###################################################################################################################

################################################# REMOTE COMMAND ##################################################
# RC	RCMD	CMD_TYPE	RCNAME

# Operate Command
RC	1001  	COMMAND		REMOTE		
RC	1002  	COMMAND		LOCAL		

# Process Command 
RC	2201	COMMAND		PAUSE		
RC	2202	COMMAND		CONTINUE	
RC	2203	COMMAND		END		
RC	2204	COMMAND		ABORT		
RC	2205  	COMMAND		CANCEL		

RC	2211	COMMAND		ENDW		
RC	2212	COMMAND		STOP		
RC	2213	COMMAND		STOPW		
RC	2214	COMMAND		ASTOP		

RC	2221	COMMAND		ABORTCARRIER		

# AGV Mode On/Off Command
RC	3001  	COMMAND		SET_AGV_ON		
RC	3002 	COMMAND		SET_AGV_OFF		

RC	3011  	COMMAND		GET_AGV_STATUS

# Module Enable/Disable Command
RC	4001  	COMMAND		SET_MODULE_ENABLE
RC	4002  	COMMAND		SET_MODULE_ENABLEPM

RC	4011  	COMMAND		SET_MODULE_DISABLE
RC	4012  	COMMAND		SET_MODULE_DISABLE_ABORT

RC	4021  	COMMAND		GET_MODULE_INFO

# Trace Stop Command
RC	5001  	COMMAND		TRACESTOP	

# Manual Transfer Command
RC	6001  	COMMAND		START_TR_PICK
RC	6002  	COMMAND		START_TR_PLACE
RC	6003  	COMMAND		START_TR_MOVE
RC	6004  	COMMAND		START_TR_CLEAR
RC	6005  	COMMAND		PAUSETR
RC	6006  	COMMAND		CONTINUETR
RC	6007  	COMMAND		ABORTTR

# Material ID/Data Read/Write Command
# MID   : already defined mid read/writ action
# PAGE  : specification page read/write action
RC	7001  	COMMAND		MID_READ
RC	7002  	COMMAND		MID_WRITE
RC	7003  	COMMAND		PAGE_READ
RC	7004  	COMMAND		PAGE_WRITE

# User Command
