
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

B_0011_0000000000       BITMAP       IMAGE/Button_Enable_N_Main.bmp
B_0011_0000000001       BITMAP       IMAGE/Button_Press_N_Main.bmp
//B_0011_0000000002       BITMAP       IMAGE/Button_Disable_N_Main.bmp

B_0012_0000000000       BITMAP       IMAGE/Button_Enable_N_FAJob.bmp
B_0012_0000000001       BITMAP       IMAGE/Button_Press_N_FAJob.bmp
//B_0012_0000000002       BITMAP       IMAGE/Button_Disable_N_FAJob.bmp

B_0013_0000000000       BITMAP       IMAGE/Button_Enable_N_OperatorVerify.bmp
B_0013_0000000001       BITMAP       IMAGE/Button_Press_N_OperatorVerify.bmp
//B_0013_0000000002       BITMAP       IMAGE/Button_Disable_N_OperatorVerify.bmp

B_0014_0000000000       BITMAP       IMAGE/Button_Enable_N_Job.bmp
B_0014_0000000001       BITMAP       IMAGE/Button_Press_N_Job.bmp
//B_0014_0000000002       BITMAP       IMAGE/Button_Disable_N_Job.bmp

B_0015_0000000000       BITMAP       IMAGE/Button_Enable_N_Transfer.bmp
B_0015_0000000001       BITMAP       IMAGE/Button_Press_N_Transfer.bmp
//B_0015_0000000002       BITMAP       IMAGE/Button_Disable_N_Transfer.bmp

B_0016_0000000000       BITMAP       IMAGE/Button_Enable_N_WaferSync.bmp
B_0016_0000000001       BITMAP       IMAGE/Button_Press_N_WaferSync.bmp
//B_0016_0000000002       BITMAP       IMAGE/Button_Disable_N_WaferSync.bmp

B_0018_0000000000       BITMAP       IMAGE/Button_Enable_N_LotPre.bmp
B_0018_0000000001       BITMAP       IMAGE/Button_Press_N_LotPre.bmp
//B_0018_0000000002       BITMAP       IMAGE/Button_Disable_N_LotPre.bmp

B_0021_0000000000       BITMAP       IMAGE/Button_Enable_N_CTC.bmp
B_0021_0000000001       BITMAP       IMAGE/Button_Press_N_CTC.bmp
//B_0021_0000000002       BITMAP       IMAGE/Button_Disable_N_CTC.bmp

B_0023_0000000000       BITMAP       IMAGE/Button_Enable_N_TMC.bmp
B_0023_0000000001       BITMAP       IMAGE/Button_Press_N_TMC.bmp
//B_0023_0000000002       BITMAP       IMAGE/Button_Disable_N_TMC.bmp

B_0024_0000000000       BITMAP       IMAGE/Button_Enable_N_PM2.bmp
B_0024_0000000001       BITMAP       IMAGE/Button_Press_N_PM2.bmp
//B_0024_0000000002       BITMAP       IMAGE/Button_Disable_N_PM2.bmp

B_0025_0000000000       BITMAP       IMAGE/Button_Enable_N_PM3.bmp
B_0025_0000000001       BITMAP       IMAGE/Button_Press_N_PM3.bmp
//B_0025_0000000002       BITMAP       IMAGE/Button_Disable_N_PM3.bmp

B_0026_0000000000       BITMAP       IMAGE/Button_Enable_N_PM4.bmp
B_0026_0000000001       BITMAP       IMAGE/Button_Press_N_PM4.bmp
//B_0026_0000000002       BITMAP       IMAGE/Button_Disable_N_PM4.bmp

B_0027_0000000000       BITMAP       IMAGE/Button_Enable_N_PM1.bmp
B_0027_0000000001       BITMAP       IMAGE/Button_Press_N_PM1.bmp
//B_0027_0000000002       BITMAP       IMAGE/Button_Disable_N_PM1.bmp

B_0028_0000000000       BITMAP       IMAGE/Button_Enable_N_FA.bmp
B_0028_0000000001       BITMAP       IMAGE/Button_Press_N_FA.bmp
//B_0028_0000000002       BITMAP       IMAGE/Button_Disable_N_FA.bmp

B_0029_0000000000       BITMAP       IMAGE/Button_Enable_N_FMC.bmp
B_0029_0000000001       BITMAP       IMAGE/Button_Press_N_FMC.bmp
//B_0029_0000000002       BITMAP       IMAGE/Button_Disable_N_FMC.bmp

B_0031_0000000000       BITMAP       IMAGE/Button_Enable_N_LotRcp.bmp
B_0031_0000000001       BITMAP       IMAGE/Button_Press_N_LotRcp.bmp
//B_0031_0000000002       BITMAP       IMAGE/Button_Disable_N_LotRcp.bmp

B_0032_0000000000       BITMAP       IMAGE/Button_Enable_N_ClusterRcp.bmp
B_0032_0000000001       BITMAP       IMAGE/Button_Press_N_ClusterRcp.bmp
//B_0032_0000000002       BITMAP       IMAGE/Button_Disable_N_ClusterRcp.bmp

B_0034_0000000000       BITMAP       IMAGE/Button_Enable_N_ProcessRcp.bmp
B_0034_0000000001       BITMAP       IMAGE/Button_Press_N_ProcessRcp.bmp
//B_0034_0000000002       BITMAP       IMAGE/Button_Disable_N_ProcessRcp.bmp

B_0035_0000000000       BITMAP       IMAGE/Button_Enable_N_Dummy.bmp
B_0035_0000000001       BITMAP       IMAGE/Button_Press_N_Dummy.bmp
//B_0035_0000000002       BITMAP       IMAGE/Button_Disable_N_Dummy.bmp

B_0036_0000000000       BITMAP       IMAGE/Button_Enable_N_RcpGrp.bmp
B_0036_0000000001       BITMAP       IMAGE/Button_Press_N_RcpGrp.bmp
//B_0036_0000000002       BITMAP       IMAGE/Button_Disable_N_RcpGrp.bmp

B_0051_0000000000       BITMAP       IMAGE/Button_Enable_N_AlarmHistory.bmp
B_0051_0000000001       BITMAP       IMAGE/Button_Press_N_AlarmHistory.bmp
//B_0051_0000000002       BITMAP       IMAGE/Button_Disable_N_AlarmHistory.bmp

B_0052_0000000000       BITMAP       IMAGE/Button_Enable_N_JobHistory.bmp
B_0052_0000000001       BITMAP       IMAGE/Button_Press_N_JobHistory.bmp
//B_0052_0000000002       BITMAP       IMAGE/Button_Disable_N_JobHistory.bmp

B_0053_0000000000       BITMAP       IMAGE/Button_Enable_N_FaHistory.bmp
B_0053_0000000001       BITMAP       IMAGE/Button_Press_N_FaHistory.bmp
//B_0053_0000000002       BITMAP       IMAGE/Button_Disable_N_FaHistory.bmp

B_0054_0000000000       BITMAP       IMAGE/Button_Enable_N_UserHistory.bmp
B_0054_0000000001       BITMAP       IMAGE/Button_Press_N_UserHistory.bmp
//B_0054_0000000002       BITMAP       IMAGE/Button_Disable_N_UserHistory.bmp

B_0056_0000000000       BITMAP       IMAGE/Button_Enable_N_Plotter.bmp
B_0056_0000000001       BITMAP       IMAGE/Button_Press_N_Plotter.bmp
//B_0056_0000000002       BITMAP       IMAGE/Button_Disable_N_Plotter.bmp

B_0057_0000000000       BITMAP       IMAGE/Button_Enable_N_Manlog.bmp
B_0057_0000000001       BITMAP       IMAGE/Button_Press_N_Manlog.bmp
//B_0057_0000000002       BITMAP       IMAGE/Button_Disable_N_Manlog.bmp

B_0062_0000000000       BITMAP       IMAGE/Button_Enable_N_User.bmp
B_0062_0000000001       BITMAP       IMAGE/Button_Press_N_User.bmp
//B_0062_0000000002       BITMAP       IMAGE/Button_Disable_N_User.bmp

B_0063_0000000000       BITMAP       IMAGE/Button_Enable_N_Mode.bmp
B_0063_0000000001       BITMAP       IMAGE/Button_Press_N_Mode.bmp
//B_0063_0000000002       BITMAP       IMAGE/Button_Disable_N_Mode.bmp

B_0064_0000000000       BITMAP       IMAGE/Button_Enable_N_Prev.bmp
B_0064_0000000001       BITMAP       IMAGE/Button_Press_N_Prev.bmp
//B_0064_0000000002       BITMAP       IMAGE/Button_Disable_N_Prev.bmp

B_0065_0000000000       BITMAP       IMAGE/Button_Enable_N_ChmCtrl.bmp
B_0065_0000000001       BITMAP       IMAGE/Button_Press_N_ChmCtrl.bmp
//B_0065_0000000002       BITMAP       IMAGE/Button_Disable_N_ChmCtrl.bmp

B_0070_0000000000       BITMAP       IMAGE/Button_Enable_N_TMRobot.bmp
B_0070_0000000001       BITMAP       IMAGE/Button_Press_N_TMRobot.bmp

B_0090_0000000000       BITMAP       IMAGE/Button_Alarm_Clear.bmp
B_0090_0000000005       BITMAP       IMAGE/Button_Alarm_Clear.bmp
B_0090_0000000007       BITMAP       IMAGE/Button_Alarm_Clear.bmp

B_0101_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp
B_0101_0000000001       BITMAP       IMAGE/BACKGROUND_System.bmp

B_0102_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp
B_0102_0000000001       BITMAP       IMAGE/BACKGROUND_Recipe.bmp

B_0103_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp
B_0103_0000000001       BITMAP       IMAGE/BACKGROUND_ServiceTM.bmp

B_0104_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp
B_0104_0000000001       BITMAP       IMAGE/BACKGROUND_ServicePM.bmp

B_0105_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp
B_0105_0000000001       BITMAP       IMAGE/BACKGROUND_Config.bmp

B_0106_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp 
B_0106_0000000001       BITMAP       IMAGE/BACKGROUND_DataLog.bmp

B_0107_0000000000       BITMAP       IMAGE/BACKGROUND_None.bmp
B_0107_0000000001       BITMAP       IMAGE/BACKGROUND_Utility.bmp

B_0231_0000000000       BITMAP       IMAGE/Button_Enable_N_DirectIO.bmp
B_0231_0000000001       BITMAP       IMAGE/Button_Press_N_DirectIO.bmp
//B_0231_0000000002       BITMAP       IMAGE/Button_Disable_N_DirectIO.bmp

B_0233_0000000000       BITMAP       IMAGE/Button_Enable_N_TMMaint.bmp
B_0233_0000000001       BITMAP       IMAGE/Button_Press_N_TMMaint.bmp
//B_0233_0000000002       BITMAP       IMAGE/Button_Disable_N_TMMaint.bmp

B_0234_0000000000       BITMAP       IMAGE/Button_Enable_N_AWCSCAN.bmp
B_0234_0000000001       BITMAP       IMAGE/Button_Press_N_AWCSCAN.bmp


B_0242_0000000000       BITMAP       IMAGE/Button_Enable_N_Vacuum.bmp
B_0242_0000000001       BITMAP       IMAGE/Button_Press_N_Vacuum.bmp
//B_0242_0000000002       BITMAP       IMAGE/Button_Disable_N_Vacuum.bmp

B_0249_0000000000       BITMAP       IMAGE/Button_Enable_N_LeakTest.bmp
B_0249_0000000001       BITMAP       IMAGE/Button_Press_N_LeakTest.bmp
//B_0249_0000000002       BITMAP       IMAGE/Button_Disable_N_LeakTest.bmp

B_0251_0000000000       BITMAP       IMAGE/Button_N_blank.bmp
B_0251_0000000000_X     BITMAP       IMAGE/Button_N_blank_X.bmp
B_0251_0000000001       BITMAP       IMAGE/Button_Press_N_LeakTest.bmp
B_0251_0000000001_X     BITMAP       IMAGE/Button_Press_N_LeakTest.bmp
B_0251_0000000002       BITMAP       IMAGE/Button_N_blank.bmp
B_0251_0000000002_X     BITMAP       IMAGE/Button_N_blank_X.bmp

B_0258_0000000000       BITMAP       IMAGE/Button_Enable_N_FEM2.bmp
B_0258_0000000001       BITMAP       IMAGE/Button_Press_N_FEM2.bmp
//B_0258_0000000002       BITMAP       IMAGE/Button_Disable_N_FEM2.bmp

B_0270_0000000000       BITMAP       IMAGE/Button_Enable_PM_Main.bmp
B_0270_0000000001       BITMAP       IMAGE/Button_Press_PM_Main.bmp
//B_0270_0000000002       BITMAP       IMAGE/Button_Disable_PM_Main.bmp

B_0271_0000000000       BITMAP       IMAGE/Button_Enable_PM_Control.bmp
B_0271_0000000001       BITMAP       IMAGE/Button_Press_PM_Control.bmp
//B_0271_0000000002       BITMAP       IMAGE/Button_Disable_PM_Control.bmp

B_0272_0000000000       BITMAP       IMAGE/Button_Enable_PM_Heater.bmp
B_0272_0000000001       BITMAP       IMAGE/Button_Press_PM_Heater.bmp
//B_0272_0000000002       BITMAP       IMAGE/Button_Disable_PM_Heater.bmp

B_0273_0000000000       BITMAP       IMAGE/Button_Enable_PM_Water.bmp
B_0273_0000000001       BITMAP       IMAGE/Button_Press_PM_Water.bmp
//B_0273_0000000002       BITMAP       IMAGE/Button_Disable_PM_Water.bmp

B_0280_0000000000       BITMAP       IMAGE/Button_Enable_N_Calibration.bmp
B_0280_0000000001       BITMAP       IMAGE/Button_Press_N_Calibration.bmp

B_0904_0000000001       BITMAP       IMAGE/Recipe_PM1.bmp
B_0904_0000000002       BITMAP       IMAGE/Recipe_PM2.bmp
B_0904_0000000003       BITMAP       IMAGE/Recipe_PM3.bmp
B_0904_0000000004       BITMAP       IMAGE/Recipe_PM4.bmp
B_0904_0000000005       BITMAP       IMAGE/Recipe_PM5.bmp

B_0905_0000000001       BITMAP       IMAGE/Service_PM1.bmp
B_0905_0000000002       BITMAP       IMAGE/Service_PM2.bmp
B_0905_0000000003       BITMAP       IMAGE/Service_PM3.bmp
B_0905_0000000004       BITMAP       IMAGE/Service_PM4.bmp
B_0905_0000000005       BITMAP       IMAGE/Service_PM5.bmp

B_0906_0000000001       BITMAP       IMAGE/DataLog_PM1.bmp
B_0906_0000000002       BITMAP       IMAGE/DataLog_PM2.bmp
B_0906_0000000003       BITMAP       IMAGE/DataLog_PM3.bmp
B_0906_0000000004       BITMAP       IMAGE/DataLog_PM4.bmp
B_0906_0000000005       BITMAP       IMAGE/DataLog_PM5.bmp

B_0907_0000000001       BITMAP       IMAGE/Utility_PM1.bmp
B_0907_0000000002       BITMAP       IMAGE/Utility_PM2.bmp
B_0907_0000000003       BITMAP       IMAGE/Utility_PM3.bmp
B_0907_0000000004       BITMAP       IMAGE/Utility_PM4.bmp
B_0907_0000000005       BITMAP       IMAGE/Utility_PM5.bmp

B_0915_0000000000       BITMAP       IMAGE/Chamber_Sel_TMC.bmp
B_0915_0000000001       BITMAP       IMAGE/Chamber_Sel_PMA.bmp
B_0915_0000000002       BITMAP       IMAGE/Chamber_Sel_PMB.bmp
B_0915_0000000003       BITMAP       IMAGE/Chamber_Sel_PMC.bmp
B_0915_0000000004       BITMAP       IMAGE/Chamber_Sel_ALL.bmp

B_2123_0000000000       BITMAP       IMAGE/Button_Enable_N_RecipeHistory.bmp
B_2123_0000000001       BITMAP       IMAGE/Button_Press_N_RecipeHistory.bmp
//B_2123_0000000002       BITMAP       IMAGE/Button_Disable_N_RecipeHistory.bmp
