//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Korean resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
#ifdef _WIN32
//LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// 	Bitmap
// 	1   ~ 100 : Logo
// 	101 ~ 200 : Login
// 	201 ~ 300 : FA
// 	301 ~ 400 : EQ_Status
// 	401 ~ 500 : SignalTower
//	501 ~ 600 : Alarm
//	601 ~ 700 : Main

// Logo
B_0001_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/Logo/Enable_Back_IPS.bmp"
B_0001_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/Logo/Press_Back_IPS.bmp"
B_0001_0000000002       BITMAP  MOVEABLE PURE   "IMAGE/Logo/Disable_Back_IPS.bmp"

B_0002_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__1.bmp"
B_0002_0000000000_1     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__2.bmp"
B_0002_0000000000_2     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__3.bmp"
B_0002_0000000000_3     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__4.bmp"
B_0002_0000000000_4     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__5.bmp"
B_0002_0000000000_5     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__6.bmp"
B_0002_0000000000_6     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__7.bmp"
B_0002_0000000000_7     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__8.bmp"
B_0002_0000000000_8     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__9.bmp"
B_0002_0000000000_9     BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__10.bmp"
B_0002_0000000000_10    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__11.bmp"
B_0002_0000000000_11    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__12.bmp"
B_0002_0000000000_12    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__13.bmp"
B_0002_0000000000_13    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__14.bmp"
B_0002_0000000000_14    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__15.bmp"
B_0002_0000000000_15    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__16.bmp"
B_0002_0000000000_16    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__17.bmp"
B_0002_0000000000_17    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__18.bmp"
B_0002_0000000000_18    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__19.bmp"
B_0002_0000000000_19    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__20.bmp"
B_0002_0000000000_20    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__21.bmp"
B_0002_0000000000_21    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__22.bmp"
B_0002_0000000000_22    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__23.bmp"
B_0002_0000000000_23    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__24.bmp"
B_0002_0000000000_24    BITMAP  MOVEABLE PURE   "IMAGE/Logo/IPS__25.bmp"

// Login
B_0101_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/Login/LogInOut_0.bmp"
B_0101_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/Login/LogInOut_1.bmp"

// FA (Host Communication)
B_0201_0000000000	BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Enable_Host.bmp"
B_0201_0000000001	BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Press_Host.bmp"
B_0201_0000000002	BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Disable_Host.bmp"

// EQ_Status
B_0301_0000000000	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Button_N_EQStatus.bmp"
B_0301_0000000001	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Button_N_EQStatus.bmp"
B_0301_0000000002	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Button_N_EQStatus.bmp"

B_0302_0000000000	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Unuse.bmp"
B_0302_0000000001	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Local.bmp"
B_0302_0000000002	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_DisConn.bmp"
B_0302_0000000003	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Standby.bmp"
B_0302_0000000004	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Maint.bmp"
B_0302_0000000007	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_CTCInUse.bmp"

B_0303_0000000000	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Unuse.bmp"
B_0303_0000000001	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Local.bmp"
B_0303_0000000002	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_DisConn.bmp"
B_0303_0000000003	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Standby.bmp"
B_0303_0000000004	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Maint.bmp"
B_0303_0000000007	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_CTCInUse.bmp"

B_0304_0000000000	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Unuse.bmp"
B_0304_0000000001	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Local.bmp"
B_0304_0000000002	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_DisConn.bmp"
B_0304_0000000003	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Standby.bmp"
B_0304_0000000004	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Maint.bmp"
B_0304_0000000007	BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_CTCInUse.bmp"

B_0305_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Unuse.bmp"
B_0305_0000000000_X     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Unuse_X.bmp"
B_0305_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Yellow.bmp"
B_0305_0000000001_X     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Yellow_X.bmp"
B_0305_0000000002_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Red.bmp"
B_0305_0000000002_1_X   BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Red_X.bmp"
B_0305_0000000003       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Blue.bmp"
B_0305_0000000003_X     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Blue_X.bmp"
B_0305_0000000004_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Gray.bmp"
B_0305_0000000004_1_X   BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Gray_X.bmp"
B_0305_0000000007       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Blue.bmp"
B_0305_0000000007_X     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/Ball_Blue_X.bmp"

B_0306_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Run_0.bmp"
B_0306_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Run.bmp"

B_0307_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Idle_0.bmp"
B_0307_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM1_Idle.bmp"

B_0308_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Run_0.bmp"
B_0308_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Run.bmp"

B_0309_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Idle_0.bmp"
B_0309_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM2_Idle.bmp"

B_0310_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Run_0.bmp"
B_0310_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Run.bmp"

B_0311_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Idle_0.bmp"
B_0311_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/EQ_Status/PM3_Idle.bmp"

B_0321_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeEnable_Off.bmp"
B_0321_0000000001	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeEnable_Off.bmp"
B_0321_0000000002	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeEnable_On.bmp"
B_0321_0000000003	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeEnable_On.bmp"
B_0321_0000000004	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeEnable_On.bmp"

B_0322_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeDisable_Off.bmp"
B_0322_0000000001	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeDisable_On.bmp"
B_0322_0000000002	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeDisable_On.bmp"
B_0322_0000000003	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeDisable_On.bmp"
B_0322_0000000004	BITMAP	MOVEABLE PURE	"IMAGE/EQ_Status/Button_ModeDisable_On.bmp"

// Signal Tower
B_0401_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/SignalTow_Blue_Active.bmp"
B_0402_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/SignalTow_Red_Active.bmp"
B_0403_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/SignalTow_Amber_Active.bmp"
B_0404_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/SignalTow_Green_Active.bmp"
B_0405_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/SignalTow_Background.bmp"

B_0407_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_Disable_RedBuz.bmp"
B_0407_0000000001	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_Press_RedBuz.bmp"
B_0407_0000000002	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_Enable_RedBuz.bmp"

B_0408_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_Disable_RedBuz.bmp"
B_0408_0000000001	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_Enable_RedBuz.bmp"

B_0409_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Buzzer_Off.bmp"
B_0409_0000000001	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Buzzer_On.bmp"

B_0410_0000000000	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_PopupClose_Idle.bmp"
B_0410_0000000001	BITMAP	MOVEABLE PURE	"IMAGE/SignalTower/Button_PopupClose_Press.bmp"

//Alarm
B_0501_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Enable_N_Alarm_X.bmp"
B_0501_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Press_N_Alarm_X.bmp"
B_0501_0000000002       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm_X.bmp"
B_0501_0000000010       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Enable_N_Alarm_O.bmp"
B_0501_0000000010_X     BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Press_N_Alarm_O.bmp"
B_0501_0000000011       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Press_N_Alarm_O.bmp"
B_0501_0000000012       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm_O.bmp"
B_0501_0000000012_X     BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Press_N_Alarm_O.bmp"

//B_0501_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000002       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000010       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000010_X     BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000011       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000012       BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"
//B_0501_0000000012_X     BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Disable_N_Alarm.bmp"

B_0502_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Enable_N_Alarm.bmp"
B_0502_0000000001_1_X   BITMAP  MOVEABLE PURE   "IMAGE/Alarm/Button_Enable_N_Alarm_O.bmp"

//Main
B_0601_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/Main/Button_Enable_N_Main.bmp"
B_0601_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/Main/Button_Press_N_Main.bmp"
B_0601_0000000002       BITMAP  MOVEABLE PURE   "IMAGE/Main/Button_Disable_N_Main.bmp"

// Host Communication
B_0700_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/iBall_Red.bmp"
B_0700_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/iBall_Green.bmp"

B_0701_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Save_Enable.bmp"
B_0701_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Save_Press.bmp"

B_0702_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Enable.bmp"
B_0702_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Disable.bmp"

B_0703_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Online_Disable.bmp"
B_0703_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Online_Enable.bmp"

B_0704_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Offline_Disable.bmp"
B_0704_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Offline_Enable.bmp"

B_0705_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Remote_Disable.bmp"
B_0705_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Remote_Enable.bmp"

B_0706_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Local_Disable.bmp"
B_0706_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Local_Enable.bmp"

B_0707_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Diagnostic_Disable.bmp"
B_0707_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Diagnostic_Enable.bmp"

B_0708_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Send_Disable.bmp"
B_0708_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Send_Enable.bmp"

B_0709_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Message_Disable.bmp"
B_0709_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/Button_Message_Enable.bmp"


B_0901_0000000000       BITMAP  MOVEABLE PURE   "IMAGE/FA/OffLine_Status.bmp"
B_0901_0000000000_1     BITMAP  MOVEABLE PURE   "IMAGE/FA/OffLine_Status_R.bmp"
B_0901_0000000001       BITMAP  MOVEABLE PURE   "IMAGE/FA/OffLine_Status.bmp"
B_0901_0000000001_1     BITMAP  MOVEABLE PURE   "IMAGE/FA/OffLine_Status_R.bmp"
B_0901_0000000002       BITMAP  MOVEABLE PURE   "IMAGE/FA/OffLine_Status.bmp"
B_0901_0000000002_1     BITMAP  MOVEABLE PURE   "IMAGE/FA/OffLine_Status_R.bmp"
B_0901_0000000003       BITMAP  MOVEABLE PURE   "IMAGE/FA/Online_Status.bmp"
B_0901_0000000003_1     BITMAP  MOVEABLE PURE   "IMAGE/FA/Online_Status_R.bmp"
B_0901_0000000004       BITMAP  MOVEABLE PURE   "IMAGE/FA/Online_Status.bmp"



#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Korean resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

