# ===========================================================================
# Configuration of AE RF MATCHER(Include ZScan) Controller
# ===========================================================================

$$$ Enum
DisEnable	Disable_0	Enable_1
IntExternal	Internal_0	External_1
RFZComm		Offline		Online
CtlMode		None		Auto		Manual
OFF_ON		OFF_0		ON_1
#-----------------------------------------------------------------------------------------------------------------------------------------------------
$$$ Digital
#-----------------------------------------------------------------------------------------------------------------------------------------------------
#							IN				|			OUT
# Name			Enum		IOMDL		ID1	ID2	ID3	ID4	Poll	IOMDL		ID1	ID2	ID3	ID4	Init
#--------------------	----------	----------	------	------	------	------	------	----------	------	------	------	------	------
HF_CommStatus_A		RFZComm		EIP_MAT1	99	-	-	-	1
HF_Sel_Preset_A		-		EIP_MAT1	161	-	-	-	1	EIP_MAT1	91	-	-	-	1
HF_Ctrl_Mode_A		CtlMode		EIP_MAT1	163	-	-	-	1	EIP_MAT1	93	-	-	-	Auto
HF_Preset_Mode_A	DisEnable	EIP_MAT1	164	-	-	-	1	EIP_MAT1	94	-	-	-
HF_IntExt_Mode_A	IntExternal	EIP_MAT1	167	-	-	-	1	EIP_MAT1	97	-	-	-	Internal_0
HF_END_DO_A		OFF_ON		-		-	-	-	-	1	EIP_MAT1	10	-	-	-	OFF_0		

HF_OneCycCntDM_A	-		EIP_MAT1	10	-	-	-	0.1
HF_TotCycCntDM_A	-		EIP_MAT1	11	-	-	-	1
HF_FilterCntDM_A	-		-		12	-	-	-	1	EIP_MAT1	-	-	-	-	0
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$$$ Analog
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#						IN						|			OUT
# Name			Units	IOMDL		ID1	ID2	ID3	Dec	Min	Max	Poll	IOMDL		ID1	ID2	ID3	Dec	Min	Max	Min	Max	Min	Max
#--------------------	-----	----------	------	------	------	------	------	----------	----------	------	------	------	------	------	------	------	------	------	------

HF_LOAD_ManMove_A	%	-		-	-	-	0	0	100	1	EIP_MAT1	112	-	-	0	0	100	-	-	0	10000
HF_TUNE_ManMove_A	%	-		-	-	-	0	0	100	1	EIP_MAT1	122	-	-	0	0	100	-	-	0	10000

HF_LOAD_PRESET_A	%	-		-	-	-	1	0	100	1	EIP_MAT1	92	1	-	1	0	100	-	-	0	10000
HF_TUNE_PRESET_A	%	-		-	-	-	1	0	100	1	EIP_MAT1	92	2	-	1	0	100	-	-	0	10000

HF_MLOAD_PRESET_A	%	-		-	-	-	1	0	100	1	EIP_MAT1	192	1	-	1	0	100	-	-	0	10000
HF_MTUNE_PRESET_A	%	-		-	-	-	1	0	100	1	EIP_MAT1	192	2	-	1	0	100	-	-	0	10000

HF_LOAD_POS_A		%	EIP_MAT1	1	-	-	2	0	100	0.1	-		-	-	-	2	0	100	0	100	-	-
HF_TUNE_POS_A		%	EIP_MAT1	2	-	-	2	0	100	0.1	-		-	-	-	2	0	100	0	100	-	-
HF_R_Real_A		-	EIP_MAT1	3	-	-	3	0	10000	0.1
HF_X_Image_A		-	EIP_MAT1	4	-	-	3	0	10000	0.1
HF_Z_Phase_A		Deg	EIP_MAT1	5	-	-	2	-89	89	0.1
HF_Z_Power_A		Watt	EIP_MAT1	6	-	-	2	0	10000	0.1 
HF_Z_R_A		-	EIP_MAT1	7	-	-	2	0	10000	0.1 
HF_Z_X_A		-	EIP_MAT1	8	-	-	2	0	10000	0.1
HF_Z_Vrms_A		V	EIP_MAT1	9	-	-	2	0	10000	0.1
HF_Z_Irms_A		A	EIP_MAT1	10	-	-	2	0	10000	0.1
                                                                                                                                                                                               
HF_LOADPOSMax_A		%	EIP_MAT1	11	-	-	2	0	100	1	-		11	1	-	1	0	100	0	100	-	-
HF_LOADPOSMin_A		%	EIP_MAT1	12	-	-	2	0	100	1	-		12	1	-	1	0	100	0	100	-	-
                                                                                                             	                                                                       
HF_TunePOSMax_A		%	EIP_MAT1	13	-	-	2	0	100	1  	-		13	1	-	1	0	100	0	100	-	-
HF_TunePOSMin_A		%	EIP_MAT1	14	-	-	2	0	100	1 	-		14	1	-	1	0	100	0	100	-	-
                                                                                                                	                                                                       
HF_Z_RMax_A		-	EIP_MAT1	15	-	-	3	0	10000	1	-		15	1	-	1	0	10000	0	10000	-	-
HF_Z_RMin_A		-	EIP_MAT1	16	-	-	3	0	10000	1	-		16	1	-	1	0	10000	0	10000	-	-
                                                                                             	        	                                                                       
HF_Z_XMax_A		-	EIP_MAT1	17	-	-	3	0	10000	1    	-		17	1	-	1	0	10000	0	10000	-	-                                                                                            
HF_Z_XMin_A		-	EIP_MAT1	18	-	-	3	0	10000	1	-		18	1	-	1	0	10000	0	10000	-	-
                                                                                                                	                                                                       
HF_Z_VrmsMax_A		V	EIP_MAT1	19	-	-	2	0	10000	1 	-		19	1	-	1	0	10000	0	10000	-	-
HF_Z_VrmsMin_A		V	EIP_MAT1	20	-	-	2	0	10000	1 	-		20	1	-	1	0	10000	0	10000	-	-
                                                                                                                	                                                                       
HF_Z_IrmsMax_A		A	EIP_MAT1	21	-	-	2	0	10000	1	-		21	1	-	1	0	10000	0	10000	-	-
HF_Z_IrmsMin_A		A	EIP_MAT1	22	-	-	2	0	10000	1	-		22	1	-	1	0	10000	0	10000	-	-
                                                                                                                                                                                               
HF_Z_PhaseMax_A		Deg	EIP_MAT1	23	-	-	2	-89	89	1	-		23	1	-	1	-89	89	-89	89	-	-
HF_Z_PhaseMin_A		Deg	EIP_MAT1	24	-	-	2	-89	89	1	-		24	1	-	1	-89	89	-89	89	-	-
                                                                                                                                                                                               
HF_Z_PowerMax_A		Watt	EIP_MAT1	25	-	-	2	0	10000	1	-		25	1	-	1	0	10000	0	10000	-	-
HF_Z_PowerMin_A		Watt	EIP_MAT1	26	-	-	2	0	10000	1	-		26	1	-	1	0	10000	0	10000	-	-
                                                                                                                                                                                               
HF_LOADPOSAvr_A		%	EIP_MAT1	27	-	-	2	0	100	1       -		27	1	-	1	0	100	0	100	-	-	                                                                                  
HF_TunePOSAvr_A		%	EIP_MAT1	28	-	-	2	0	100	1	-		28	1	-	1	0	100	0	100	-	-
                                                                                                                                                                                               
HF_Z_RAvr_A		-	EIP_MAT1	29	-	-	3	0	10000	1       -		29	1	-	1	0	10000	0	10000	-	-	                                                                                           
HF_Z_XAvr_A		-	EIP_MAT1	30	-	-	3	0	10000	1       -		30	1	-	1	0	10000	0	10000	-	-	                                                                                           
HF_Z_VrmsAvr_A		V	EIP_MAT1	31	-	-	2	0	10000	1       -		31	1	-	1	0	10000	0	10000	-	-	                                                                                           
HF_Z_IrmsAvr_A		A	EIP_MAT1	32	-	-	2	0	10000	1       -		32	1	-	1	0	10000	0	10000	-	-	                                                                                          
HF_Z_PhaseAvr_A		Deg	EIP_MAT1	33	-	-	2	-89	89	1	-		33	1	-	1	-89	89	-89	89	-	-
HF_Z_PowerAvr_A		Watt	EIP_MAT1	34	-	-	2	0	10000	1       -		34	1	-	1	0	10000	0	10000	-	-	

HF_LOADMaxMin_A		%	EIP_MAT1	35	-	-	2	0	100	0.1       -		35	1	-	1	0	100	0	100	-	-	                                                                                  
HF_TuneMaxMin_A		%	EIP_MAT1	36	-	-	2	0	100	0.1	-		36	1	-	1	0	100	0	100	-	-
                                                                                                                                                                                               
HF_Z_RMaxMin_A		-	EIP_MAT1	37	-	-	3	0	10000	0.1       -		37	1	-	1	0	10000	0	10000	-	-	                                                                                           
HF_Z_XMaxMin_A		-	EIP_MAT1	38	-	-	3	0	10000	0.1       -		38	1	-	1	0	10000	0	10000	-	-	                                                                                           
HF_Z_VrMaxMin_A		V	EIP_MAT1	39	-	-	2	0	10000	0.1       -		39	1	-	1	0	10000	0	10000	-	-	                                                                                           
HF_Z_IrMaxMin_A		A	EIP_MAT1	40	-	-	2	0	10000	0.1       -		40	1	-	1	0	10000	0	10000	-	-	                                                                                          
HF_Z_PhMaxMin_A		Deg	EIP_MAT1	41	-	-	2	-89	89	0.1	-		41	1	-	1	-89	89	-89	89	-	-
HF_Z_PwMaxMin_A		Watt	EIP_MAT1	42	-	-	2	0	10000	0.1       -		42	1	-	1	0	10000	0	10000	-	-	


#-------------------------------------------- Parameters --------------------------------------------------------
$$$ Enum
UpdateStsEnum	Ready	Updaing

$$$ Digital
#Name			Enum		IOMDL		ID1	ID2	ID3	ID4	Poling Time	IOMDL	ID1	ID2	ID3	ID4	�ʱⰪ
#--------------------	-----		----------	------	------	------	------	------		----------	----------	------	------
HF1UpdateParamDO	OffOnEnum	-		-	-	-	-	1		EIP_MAT1	4	-	-	-
HF1UpdateStsDI		UpdateStsEnum	EIP_MAT1	40	-	-	-	1		-	-	-	-	-

HF1MaxStepLoadDI	-		EIP_MAT1	20	-	-	-	1		-	-	-	-	-
HF1MaxStepTuneDI	-		EIP_MAT1	21	-	-	-	1		-	-	-	-	-
HF1TargetPosLoadDI	-		EIP_MAT1	22	-	-	-	1		-	-	-	-	-
HF1TargetPosTuneDI	-		EIP_MAT1	23	-	-	-	1		-	-	-	-	-
HF1TargetZ_R_DI		-		EIP_MAT1	24	-	-	-	1		-	-	-	-	-
HF1TargetZ_X_DI		-		EIP_MAT1	25	-	-	-	1		-	-	-	-	-
HF1V_ThresholdCntDI	-		EIP_MAT1	26	-	-	-	1		-	-	-	-	-
HF1I_ThresholdCntDI	-		EIP_MAT1	27	-	-	-	1		-	-	-	-	-
HF1PriorTimeDI		-		EIP_MAT1	28	-	-	-	1		-	-	-	-	-
HF1FutureDI		-		EIP_MAT1	29	-	-	-	1		-	-	-	-	-

# Name			Units	IOMDL		ID1	ID2	ID3	Dec	Min	Max	Poll	IOMDL		ID1	ID2	ID3	Dec	Min	Max	Min	Max	Min	Max
#--------------------	-----	----------	------	------	------	------	------	-----	-----	----------	------	------	------	------	------	------	------	------	------	------
$$$ Analog
HF1StopVSWRAI		-	EIP_MAT1	43	-	-	2	0	100	1	-		-	-	-	2	0	100	0	100	0	100
HF1StartVSWRAI		-	EIP_MAT1	44	-	-	2	0	100	1	-		-	-	-	2	0	100	0	100	0	100



#-------------------------------------------- Virtual Channel ---------------------------------------------------
$$$ Digital
RF_MAT_ParmSaveDM	OffOnEnum
             
HF1MaxStepLoadDM	-	1
HF1MaxStepTuneDM	-	1
HF1TargetPosLoadDM	-	0
HF1TargetPosTuneDM	-	0
HF1TargetZ_R_DM		-	1024
HF1TargetZ_X_DM		-	0
HF1V_ThresholdCntDM	-	1
HF1I_ThresholdCntDM	-	1
HF1PriorTimeDM		-	4
HF1FutureDM		-	5
                        
$$$ Analog              
HF1StopVSWRAM		-	-		-	-	-	2	0	100	1	-		-	-	-	2	0	100	0	100	0	100	1.10
HF1StartVSWRAM		-	-		-	-	-	2	0	100	1	-		-	-	-	2	0	100	0	100	0	100	1.50
